<ion-view view-title="Account">
    <ion-header-bar>
      <h1 class="title">Редактирование профайла</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Логин</span>
          <input type="text" ng-model="profile.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Пароль</span>
          <input ng-model="profile.password" type="password" >
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="profile.email">
        </label>
      </div>

         <h3> Категории </h3>
          <label ng-repeat="c in profile.categories" class="item item-input">
             <ion-toggle  ng-model="c.exists">
                {{ c.name }}
            </ion-toggle> 
           </label>  

      <button class="button button-full button-energized" ng-click="edit_profile()">Сохранить</button>
      <button class="button button-full button-energized" ng-click="logout()">Выход</button>

    </ion-content>
</ion-view>
