<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->





    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <!-- Category Tab -->
      <ion-tab title="Каталог" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/category">
        <ion-nav-view name="tab-category"></ion-nav-view>
      </ion-tab>

      <!-- Top Tab -->
      <ion-tab title="ТОП 10" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/top">
        <ion-nav-view name="tab-top"></ion-nav-view>
      </ion-tab>

      <!-- Article Tab -->
      <ion-tab title="Статьи" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/article">
        <ion-nav-view name="tab-article"></ion-nav-view>
      </ion-tab>

      
      <!-- Account Tab -->
      <ion-tab class="{{ ShowIfAuth() }}" title="Настройки" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
   

       
      <!-- Login link -->
      <ion-tab class="{{ HideIfAuth() }}" title="Логин" icon-off="ion-key" icon-on="ion-key" ng-controller='LoginCtrl' ng-click="openModal()">
        
      </ion-tab>
          
    </ion-tabs>


